@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

.image-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
}